<table boder="1">
  <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th>description</th>
      <th>category</th>
      <th>Imge</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category }}</td>
      <td><img [src]="product.image" width="50px" /></td>
      <td>{{product.rating.rate}}({{product.rating.count}})</td>
    </tr>
  </tbody>
</table>


<div *ngFor="let cat of category">
    <li>{{cat}}</li>
</div>



<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <!-- <th>Address</th> -->
            <th>suite</th>
            <th>Street</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of Users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.suite}}</td>
            <td>{{user.address.street}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.address.zipcode}}</td>
        
        </tr>
    </tbody>
</table>



<div *ngIf="user" class="card">
  <p><b>Name:</b> {{user.name}}</p>
  <p><b>Username:</b> {{user.username}}</p>
  <p><b>Email:</b> {{user.email}}</p>

  <div class="section">
    <h3>Address</h3>
    <p>{{user.add.street}}</p>
    <p>{{user.add.suite}}</p>
    <p>{{user.add.city}}</p>
    <p>{{user.add.zipcode}}</p>
  </div>

  <div class="section">
    <h3>Geo</h3>
    <p>Lat: {{user.geo.lat}}</p>
    <p>Lng: {{user.geo.lng}}</p>
  </div>
</div>




